
.page-title{
    text-align: center;
   }
   
.league-container{
       border-radius: 6px;
       box-shadow: 1px 1px 2px gray;
       padding: 16px;
       margin-bottom: 30px;
       display:flex;
       align-items: center;
       flex-direction: column;
   }


   .item{
       height:80;   }
   
.series-container{
    display:flex;
    align-items:center;
    flex-direction: column;
    border-radius: 6px;
    width:40%;
    margin:auto;
    box-shadow: 1px 1px 2px gray;
    padding: 16px;
    margin-bottom: 30px;
   }

.series-item{
    padding:8px;
}

.label{
    font-size: 1.2em;
    color:#008CBA;
}

a{
    color:#008CBA;
    text-decoration: none;
}

a:hover{
    color:#02516b;
}